@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app__container {
  background-color: #222831;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body{
  overflow-x: hidden;
}

.btn {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #76abae;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.btn:hover {
  transform: scale(1.1);
}

.Modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal .Modal__body {
  position: relative;
  background-color: white;
  height: 82vh;
  width: 380px;
  border-radius: 1rem;

  box-shadow: 2px 4px 8px #76abae;
}

.Modal__body .icon {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
}

.Modal__body .Modal__section {
  margin-top: 1.5rem;
  padding: 1rem;
}

.Modal__section .heading {
  font-size: 1.5rem;
}

.star__component h2 {
  font-weight: 500;
}

.star__component p {
  color: rgb(202, 196, 196);
}

.rating__component {
  margin-top: 1rem;
}

.like__component {
  margin-top: 1rem;
}

.like__component h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

.like__component p {
  color: rgb(202, 196, 196);
}

.icons {
  margin-top: 1rem;
}

.like__component .icons {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  cursor: pointer;
}

.clr{
  color: teal;
}

.like__component .icons svg {
  font-size: 2.5rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
